Repository tooky/kosli-playground: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_alpha, trigger_beta, trigger_webapp

trigger_alpha:
  stage: triggers
  trigger:
    include: alpha/.gitlab-ci.yml

trigger_beta:
  stage: triggers
  trigger:
    include: beta/.gitlab-ci.yml

trigger_webapp:
  stage: triggers
  trigger:
    include: webapp/.gitlab-ci.yml

.env file needs correct image names
  .act.variables
  .act.variables.original
  .env
  .github/workflows/fake_deploy.yml
  run_ci_locally.sh
Due: none

Fix image names in .env file
  .act.secrets
  .act.variables
  .env
  .github/workflows/fake_deploy.yml
  run_ci_locally.sh
Due: none

Update .env file on each script run
  .docker-compose.variables
  .env
  run_ci_locally.sh
Due: none

Force a change to alpha image
  .env
  alpha/code/readme.txt
Due: trigger_alpha

Tidy scripts
  .act.variables.comments
  .env
  .github/workflows/fake_deploy.yml
Due: none

Delete dead file
  .docker-compose.variables
  .env
Due: none

Add message to top of auto-created .env file
  .env
  docker-compose.yml
  run_ci_locally.sh
Due: none

Add act secrets file to .gitignore
  .gitignore
  run_ci_locally.sh
Due: none

Ignore .act.secrets file
  .act.secrets
Due: none

Set GIT_COMMIT_SHA env-var in makefiles, simplify .env file
  .act.variables
  .act.variables.comments
  .env
  .github/workflows/fake_deploy.yml
  alpha/Makefile
  beta/Makefile
  docker-compose.yml
  run_ci_locally.sh
Due: trigger_alpha, trigger_beta

Add a .gitattribute file
  .gitattribute
Due: none

Changes to run locally on GitBash in windows
  .env
  alpha/Dockerfile
  run_ci_locally.sh
Due: trigger_alpha

Use correct name for .gitattributes
  .gitattributes
Due: none

Try text auto
  .gitattributes
Due: none

Force LF
  .gitattributes
Due: none

Do local ci run after code change
  .github/workflows/fake_deploy.yml
  alpha/code/readme.txt
Due: trigger_alpha

Wait for lint job to finish before starting deploy job so kosli-snapshot-docker never sees the lint container
  .github/workflows/fake_deploy.yml
Due: none

Add check that the .act.secrets file exists
  run_ci_locally.sh
Due: none

Tidy the .env file
  .env
Due: none

Check for uncommitted local changes
  run_ci_locally.sh
Due: none

Login to registry in case of private packages
  .github/workflows/fake_deploy.yml
Due: none

Simplify workflow files
  .github/workflows/alpha_main.yml
  .github/workflows/alpha_main.yml.OFF
  .github/workflows/beta_main.yml.OFF
  .github/workflows/webapp_main.yml.OFF
Due: none

Update alpha_main.yml
  .github/workflows/alpha_main.yml
Due: none

Update branch name
  .github/workflows/alpha_main.yml
Due: none

Use repo owner not actor name
  .github/workflows/alpha_main.yml
Due: none

Delete dead files
  alpha/Gemfile
  beta/Gemfile
Due: trigger_alpha, trigger_beta

Remove act
  .env
  .github/workflows/alpha_main.yml
  .gitignore
  README.md
  run_ci_locally.sh
Due: none

Start work on the readme
  README.md
Due: none

Use markdown in the readme
  README.md
Due: none

Add instructions in readme to make a change, add, commit, push
  .github/workflows/alpha_main.yml
  README.md
Due: none

Delete unneeded entries from the .env file
  .env
Due: none

Tidy readme
  README.md
Due: none

Convert docker-org-name to lowercase
  .github/workflows/alpha_main.yml
Due: none

Convert docker-org-name to lowercase
  alpha/code/readme.txt
Due: trigger_alpha

Convert docker-org-name to lowercase
  .github/workflows/alpha_main.yml
  alpha/code/readme.txt
Due: trigger_alpha

Path conditions:
  trigger_alpha: any of: alpha/**/*
  trigger_beta: any of: beta/**/*
  trigger_webapp: any of: webapp/**/*
