Repository tooky/kosli-playground: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_alpha, trigger_beta, trigger_webapp

.gitlab-ci.yml:

stages:
  - triggers

trigger_alpha:
  stage: triggers
  trigger:
    include: alpha/.gitlab-ci.yml
  rules:
      changes:
        - alpha/**/*

trigger_beta:
  stage: triggers
  trigger:
    include: beta/.gitlab-ci.yml
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - beta/**/*

trigger_webapp:
  stage: triggers
  trigger:
    include: webapp/.gitlab-ci.yml
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - webapp/**/*

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update alpha readme
  alpha/README.md
Due: trigger_alpha

Try ubuntu on gitlab
  webapp/.gitlab-ci.yml
Due: trigger_webapp

Use docker image on gitlab
  webapp/.gitlab-ci.yml
Due: trigger_webapp

try using docker compose directly
  webapp/.gitlab-ci.yml
Due: trigger_webapp

Use make in gitlab
  webapp/.gitlab-ci.yml
Due: trigger_webapp

Try using Gitlab container registry
  alpha/.gitlab-ci.yml
Due: trigger_alpha

Restore writing junit xml report
  alpha/test/test_base.rb
  beta/test/test_base.rb
Due: trigger_alpha, trigger_beta

Remove dead comment
  alpha/test/test_base.rb
  beta/test/test_base.rb
Due: trigger_alpha, trigger_beta

Update Dockerfile so base image has thin/rack/sinatra pre-installed for much fast build
  alpha/Dockerfile
  beta/Dockerfile
Due: trigger_alpha, trigger_beta

Try act for running ci locally
  .act.secrets
  .github/workflows/alpha_main.yml.OFF
  .github/workflows/beta_main.yml.OFF
  .github/workflows/fake_deploy.yml
  .github/workflows/webapp_main.yml.OFF
  .gitignore
  run_act.sh
Due: none

Update comment
  run_act.sh
Due: none

Add comment
  .github/workflows/fake_deploy.yml
Due: none

Add comment
  run_act.sh
Due: none

Force a change to alpha
  alpha/code/readme.txt
Due: trigger_alpha

Add act variables file and some comments
  .act.variables
  .github/workflows/fake_deploy.yml
  run_act.sh
Due: none

Rename the main script file
  run_ci_locally.sh
Due: none

Try different image tag scheme
  alpha/.gitlab-ci.yml
Due: trigger_alpha

Lint in gitlab alpha pipeline
  alpha/.gitlab-ci.yml
Due: trigger_alpha

Introduce some variables
  alpha/.gitlab-ci.yml
Due: trigger_alpha

DERP - stage is not a description
  alpha/.gitlab-ci.yml
Due: trigger_alpha

Include bash
  alpha/.gitlab-ci.yml
Due: trigger_alpha

Volume mount the test reports as writable.
  alpha/sh/test_in_containers.sh
  docker-compose.yml
Due: trigger_alpha

Check gh auth token has required scope
  run_ci_locally.sh
Due: none

Reinstate CI lint job
  .act.variables
  .github/workflows/fake_deploy.yml
Due: none

See if explicit docker pull helps Kosli see repo digest
  .github/workflows/fake_deploy.yml
Due: none

Force creation of new image
  alpha/code/readme.txt
Due: trigger_alpha

Update comment/name
  .github/workflows/fake_deploy.yml
Due: none

Don't remove tmpfs
  docker-compose.yml
Due: none

Add outline README
  alpha/README.md
Due: trigger_alpha

Add comments
  .github/workflows/fake_deploy.yml
Due: none

Try building just arm64 image
  .github/workflows/fake_deploy.yml
Due: none

Try building only one image
  alpha/Makefile
Due: trigger_alpha

Add more notes
  .github/workflows/fake_deploy.yml
  alpha/Makefile
Due: trigger_alpha

Force local CI run with a change
  alpha/code/readme.txt
Due: trigger_alpha

Run without qemu
  .github/workflows/fake_deploy.yml
  alpha/code/readme.txt
Due: trigger_alpha

Update comment
  .github/workflows/fake_deploy.yml
Due: none

Add fingerprint
  .github/workflows/fake_deploy.yml
Due: none

Fix env-var name
  .github/workflows/fake_deploy.yml
Due: none
